.secao-1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1200px;
  height: 542px;
  padding: 80px 0;
  margin: auto;
}
.secao-1 .text-container {
  max-width: 470px;
}
.secao-1 .text-container h1 {
  font-size: 3.438rem;
  font-weight: 700;
  margin: 20px 0;
  color: var(--cor-primaria);
}
.secao-1 .text-container p {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0;
}
.secao-2 {
  background-color: var(--cor-fundo-claro);
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 100px 0 170px 0;
  margin: auto;
  max-width: 1200px;
}
.card-article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 516px;
  margin: 50px 0;
}
.card-article h1 {
  font-size: 1.875rem;
  font-weight: 500;
  color: var(--cor-secundaria);
  margin: 19px 0;
}
.card-article p {
  font-size: 1.063rem;
  font-weight: 300;
  color: black;
}
.retangulo-cinza {
  background-color: #c4c4c4;
  width: 518px;
  height: 259px;
}
@media screen and (max-width: 1280px) {
  .secao-1 img {
    display: none;
  }
  .secao-1 {
    text-align: center;
  }
  .cards {
    justify-content: space-evenly;
  }
  .card-article {
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .card-article {
    max-width: 98vw;
  }
  .retangulo-cinza {
    width: 98vw;
    height: 49vw;
  }
}
