
#secao-1 h1 {
    position: relative;
    width: 512px;
    height: 108px;
    left: 239px;
    top: 150px;
    font-weight: 700;
    font-size: 47px;
    line-height: 54px;
    color: var(--cor-primaria);

}

#secao-1 p {
    position: relative;
    width: 461px;
    height: 110px;
    left: 239px;
    top: 200px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: #000000;
}
#secao-1 img {
    position: relative;
    width: 405px;
    height: 405px;
    left: 825px;
    top: -120px;
}
.secao-2 {
    background-color: var(--cor-fundo-claro);
    padding: 50%;
    
}
#card-horizontal img {
    width: 518px;
    height: 259px;
}
#card-horizontal h1 {
    color: var(--cor-secundaria);
    width: 455px;
    height: 34px;
    font-weight: 500;
    font-size: 30px;
    line-height: 34px;
    display: flex;
    align-items: center;
}
#card-horizontal p {
    width: 516px;
    height: 80px;
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #000000;
}
.card-rectangle-1 img {
    position: absolute;
    left: 171px;
    top: 768px;
}
.card-rectangle-1 h1 {
    position: absolute;
    left: 171px;
    top: 1046px;
 }
   
.card-rectangle-1 p {
    position: absolute;
    left: 173px;
    top: 1099px;
}
.card-rectangle-2 img {
    position: absolute;
    left: 809px;
    top: 768px;
}
.card-rectangle-2 h1 {
    position: absolute;
    left: 809px;
    top: 1046px;
}
.card-rectangle-2 p {
    position: absolute;
    left: 811px;
    top: 1099px;
}
.card-rectangle-3 img {
    position: absolute;
    left: 171px;
    top: 1279px;
}
.card-rectangle-3 h1 {
    position: absolute;
    left: 171px;
    top: 1557px;
}
.card-rectangle-3 p {
    position: absolute;
    left: 173px;
    top: 1610px;
}
.card-rectangle-4 img {
    position: absolute;
    left: 809px;
    top: 1279px;
}
.card-rectangle-4 h1 {
    position: absolute;
    left: 809px;
    top: 1557px;
}
.card-rectangle-4 p {
    position: absolute;
    left: 811px;
    top: 1610px;
}
.card-rectangle-5 img {
    position: absolute;
    left: 171px;
    top: 1790px;
}
.card-rectangle-5 h1 {
    position: absolute;
    left: 171px;
    top: 2068px;
}
.card-rectangle-5 p {
    position: absolute;
    left: 173px;
    top: 2121px;
}
.card-rectangle-6 img {
    position: absolute;
    left: 809px;
    top: 1790px;
}
.card-rectangle-6 h1 {
    position: absolute;
    left: 809px;
    top: 2068px;
}
.card-rectangle-6 p {
    position: absolute;
    left: 811px;
    top: 2121px;
}
footer {
    position: absolute;
    top: 2260px;
    width: 100%;
}
@media screen and (max-width: 480px) {
    #secao-1 h1 {
        text-align: center;
        left: -60px;
        top: 10px;    
    }
    #secao-1 p {
        text-align: center;
        left: -4px;
        width: fit-content;
        top: 400px;
    }
    #secao-1 img {
        text-align: center;
        left: -10px;  
    }
    }
    @media screen and (max-width: 1024px) {
        #card-horizontal img {
            left: 35px;
            text-align: center;
            width: 318px;
            height: 259px;
        }
        #card-horizontal h1 {
            left: 6px;
            text-align: center;
            font-size: 25px;
        }
        #card-horizontal p {
            left: 6px;
            width: 100%;
            height: 80px;
            font-weight: 200;
            font-size: 14px;
            line-height: 25px;
        }
    }
