.card-curso {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 344px;
}
.card-curso img {
  max-height: 270px;
  margin: 12px auto 34px auto;
}
.card-curso h2 {
  font-size: 1.563rem;
  font-weight: 700;
  color: var(--cor-secundaria);
  text-align: center;
  margin: 9px auto;
}
.card-curso p {
  font-size: 1.063rem;
  font-weight: 300;
  text-align: center;
  margin: 14px auto;
}
.card-curso a {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  background-color: var(--cor-secundaria);
  border: 2px solid var(--cor-secundaria);
  border-radius: 62px;
  padding: 13px 43px;
  margin: 12px auto;
}
.card-curso a:hover {
  color: var(--cor-secundaria);
  background-color: #fff;
}
