footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--cor-primaria);
}
footer img {
  max-height: 101px;
  width: fit-content;
}
footer nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 1rem 0;
}
footer nav a {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  padding: 0.25rem;
}
footer nav a:hover {
  text-shadow: 1px 1px 2px var(--cor-secundaria);
}
footer .botoes-rodape {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer .botoes-rodape a:hover {
  background-color: var(--cor-secundaria);
}
footer .botoes-rodape a {
  font-size: 1.25rem;
  font-weight: 400;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 62px;
  padding: 14px 41px;
  margin: 6.5px auto;
  width: 18.063rem;
  max-width: 398px;
}
@media screen and (min-width: 480px) {
  footer {
    flex-direction: row;
    height: 207px;
  }
  footer nav {
    flex-direction: column;
    width: fit-content;
  }
}
